#index-page{
    #blog-header{
        text-align: center;
        text-transform: capitalize;
        font-size: 3rem;
    }
    .blogsContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: -10px;
    }
    .blogPost{
        width: 33.33%;
        text-align: center;
        padding: 0 15px;
        margin: 10px 0;
    }
    .blogPost > div{
        background-color: #f2f2f2;
        padding: 10px 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
        height:500px;
    }
    .blogTitle{
        font-weight: bold;
        text-transform: capitalize;
        font-size: 2rem;
    }
    .date{
        text-align: start;
    }
    img{
        height: 230px;
        width: 100%;
        object-fit: cover;
    }
    @media (max-width: 1199px){
        .blogPost{
            width: 50%;
        }
    }
    @media (max-width: 782px){
        .blogPost{
            width: 100%;
        }
    }
}

#blog-post-container{
    .header{
        text-transform: capitalize;
    }
    img:nth-child(1){
        height: auto;
        max-width: 50%;
        min-width: 250px;
        margin: 0 auto;
        display: block;
    }
    hr{
        border-top: none;
    }
}

.container{
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}
